emoji==2.10.1
fuzzywuzzy==0.18.0
gensim==4.3.0
matplotlib==3.8.3
nltk==3.8.1
numpy==1.26.4
pandas==2.2.1
praw==7.7.1
pyLDAvis==3.4.1
pyLDAvis==3.4.1
scipy==1.13.0
spacy==3.7.3
tqdm==4.66.2
transformers==4.39.3
wordcloud==1.9.3
yahoo_fin==0.8.9.1
yfinance==0.2.37